<div class="flex flex-col lg:flex-row bg-[#f3f9f9] px-20 py-32 mt-10 justify-between gap-4">
    <div class="flex flex-col gap-4 text-stone-600 text-2xl">
        <h1 class="text-5xl font-bold text-primary-green">Logo</h1>
        <span><span class="font-semibold">Location: </span>Isr Street gilrt awam juim</span>
        <span><span class="font-semibold">Contact: </span>+9 5555559909</span>
        <span><span class="font-semibold">Time: </span>(9am - 5pm EST, Monday-Friday)</span>
        <span><span class="font-semibold">Email: </span>youme&#64;Rule.com</span>
    </div>

    <div class="flex flex-col gap-4 text-stone-600 text-2xl">
        <h1 class="text-4xl font-bold text-black">Company</h1>
        <span>Case Studies</span>
        <span>Case Details</span>
        <span>Privacy Policy</span>
        <span>Services</span>
    </div>

    <div class="flex flex-col gap-4 text-stone-600 text-2xl">
        <h1 class="text-4xl font-bold text-black">Explore</h1>
        <span>About Us</span>
        <span>Blog And News</span>
        <span>Blog Details</span>
        <span>Pricing</span>
    </div>

    <div class="flex flex-col gap-4 text-stone-600 text-2xl">
        <h1 class="text-4xl font-bold text-black">Insurance</h1>
        <span>Health Insurance</span>
        <span>Car Insurance</span>
        <span>Business Insurance</span>
        <span>Life Insurance</span>
    </div>


</div>