<div class="flex flex-col items-center justify-center space-y-6">
    <h1 class="text-4xl font-bold text-center">Get The Latest Insurance News In Minutes</h1>
    <p class="w-1/2 text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi eum quam quae? Provident possimus exercitationem voluptas natus molestias suscipit repudiandae atque!</p>

    <div class="flex p-2">
        <input type="text" class="bg-gray-200 p-3 border border-gray-400 rounded-md text-xl lg:w-96" placeholder="Email address"><button class="bg-primary-green text-xl text-white px-5 py-3 rounded-md">Subscribe</button>
    </div>
</div>
