 <div class="flex flex-col items-center my-10">
    <h1 class="text-4xl font-bold text-center">
        Better Digital Insurance Begins Right Here
    </h1>
    <div class="flex flex-col lg:flex-row items-center p-4 gap-4">
        <div class="flex w-3/4 lg:w-60 flex-col shadow-lg space-y-2 p-4 rounded-md">
            <img src="../../assets/images/features/money-back-guarantee.png" width="50px" alt="money-back-guarantee">
            <h2 class="font-bold">Money Back Guarantee</h2>
            <p class="text-sm">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus deserunt sint.
            </p>
        </div> 

        <div class="flex w-3/4 lg:w-60 flex-col shadow-lg space-y-2 p-4 rounded-md">
            <img src="../../assets/images/features/all-claims.png" width="50px" alt="money-back-guarantee">
            <h2 class="font-bold">All Claims At Anytime</h2>
            <p class="text-sm">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus deserunt sint.
            </p>
        </div> 

        <div class="flex w-3/4 lg:w-60 flex-col shadow-lg space-y-2 p-4 rounded-md">
            <img src="../../assets/images/features/digital-insurance.png" width="50px" alt="digital-insurance">
            <h2 class="font-bold">Digital Insurance Policy</h2>
            <p class="text-sm">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus deserunt sint.
            </p>
        </div> 

        <div class="flex w-3/4 lg:w-60 flex-col shadow-lg space-y-2 p-4 rounded-md">
            <img src="../../assets/images/features/direct-payment-app.png" width="50px" alt="direct-payment-app">
            <h2 class="font-bold">Direct Payment App</h2>
            <p class="text-sm">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus deserunt sint.
            </p>
        </div> 
    </div>
</div>